:root {
    --primary-color: #333;
    --secondary-color: #ddde;
    --thirtiary-color: #fff;
    --hover-color: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--thirtiary-color);
    color: var(--text-color);
    line-height: 1.6;
    display: grid;
    grid-template-areas:
        "header header"
        "main aside";
}

header{
    grid-area: header;
    background: var(--primary-color);
    color: var(--thirtiary-color);
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

main {
    grid-area: main;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
aside{
    grid-area: aside;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-left: 20px;
    height: fit-content;
}