*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #888 #f4f4f4;
    
}

