*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: grid;
    grid-template-areas:
        "header header"
        "main aside";
}

header{
    grid-area: header;
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    gap: 10px;

}
main {
    grid-area: main;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
aside{
    grid-area: aside;
    background: #e2e2e2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-left: 20px;
    height: fit-content;
}