*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "empty header"
    "aside main"
    "aside main";
  height: 100vh;
  gap: 2px;
  background-color: #333;
}

header {
  grid-area: header;
  background-color:#333;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  }

aside {
  grid-area: aside;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}


main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "section section";
  grid-template-columns: 1fr 1fr;
  gap: 2px;   
  border-radius: 20px;

}

section {
  background-color: #ddde;
  min-height: 150px; 
  border-radius: 20px;
  justify-content: center;
  padding: 1rem; 
}


.complaints-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;    
    margin-top: 1rem;
    flex-direction: column;
    
}

.complaint-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;                 
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;         
    gap: 0.5rem;
    text-align: center;          
}

.read-more-btn {
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.read-more-btn:hover {
    background-color: #555;
}

.nav-cards {
    list-style: none;      
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;            
    width: 100%;

}

.nav-card {
    background-color: #444;  
    padding: 0.8rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.nav-card a {
    text-decoration: none;   
    color: white;            
    font-weight: 500;
    display: block;           
}

.nav-card a:hover {
    background-color: #555;  
    border-radius: 8px;
}