.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "aside  header"
    "aside   main"
    "aside   main";

}

header {
  grid-area: header;
  background-color: gray;
}
aside {
  grid-area: aside;
  background-color: #ddd;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;                            
}

section {
  background-color: blue;
  min-height: 150px;
}